body {
	font-family: sans-serif;
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clr {
    clear: both;
}
.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.header {
    width: 100%;
    background: #1ABC9C;
}
.header .logo h5 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}
.header .menu li {
    padding-right: 10px;
    padding-left: 10px;
    list-style: none;
    display: inline-block;
    line-height: 5;
}
.header .menu li a {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.header .menu li a:hover {
    color: #222;
} 
.main {
    padding: 100px 0;
    text-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .profile img {
    width: 250px;
    height: auto;
    border-radius: 50%;
}
.main .caption h3 {
    font-size: 2em;
    font-weight: 600;
}
.main .caption p {
    font-size: 1.2em;
}
.contact {
    width: 100%;
    padding-top: 30px;
}
.contact .contact-type {
	flex: 0 0 auto;
    width: 25%;
}
.contact .contact-type .contact-icon {
	text-align: center;
	color: #1ABC9C;
    font-size: 15px;
    line-height: 1.5;
}
.contact .contact-type .contact-icon h3 {
	font-size: 17px;
	font-family: roboto;
    font-weight: 500;
	color: #333;
	line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
}
.contact .contact-type .contact-icon i {
	font-size: 48px;
	color: #1ABC9C;
	transition: all 0.3s ease-out;
	padding: 5px 10px;
}
.contact .contact-type .contact-detail {
	text-align: center;
	color: #888888;
    font-size: 15px;
    line-height: 1.5;
}
.contact .contact-type .contact-detail a {
    text-decoration: none;
    text-align: center;
	color: #888888;
    font-size: 15px;
    line-height: 1.5;
}
.contact .contact-type .contact-detail a:hover {
    color: #222;
}