body {
	font-family: "Roboto";
    background: #fff;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clr {
	clear:both;
}
.main {
    display: block;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main li {
    list-style: none;
    padding: 18px;
}
.main li a {
    padding: 15px;
    color: #333;
    font-size: 2em;
    opacity: 1;
    transition: all 0.25s ease-in-out;
}
.main li a:hover {
    opacity: 0.7;
}